body {
      font-family: 'Fira Code', monospace;
      background-color: #EDF0DA;
      color: #424B54;
      padding: 2rem;
    }

    h1, h2 {
      color: #720E07;
    }

    section {
      margin-bottom: 2rem;
    }

    img {
      max-width: 100%;
      height: auto;
      border: 1px solid #424B54;
      border-radius: 8px;
    }